<article class="main dev-element" style="width:718px;margin: 10px auto;">
  <div class="row">
    some cotent here.
  </div>
  <div class="customcover-replay-target"></div>
</article>

<script>
  parent.jQuery || document.write('<script src="http://js.washingtonpost.com/wpost/js/combo?token=20121010232000&c=true&m=true&context=eidos&r=/jquery-1.7.1.js"><\/script>');
</script>
<script>
  (function($, w, d){
    'use strict';

    if(!$){return false;}

    w.wpAd = w.wpAd || {};

    $('head', d).append('<link rel="stylesheet" href="<%= css %>" /><script src="<%= js %>" async><\/script>');

    $(function(){
      var config = {

        creative: '<%= creative %>',
        creativeType: '<%= creativeType %>',
        width: '<%= width %>',
        height: '<%= height %>',
        target: '<%= target %>',

        replayCreative: '<%= replayCreative %>',
        replayWidth: '<%= replayWidth %>',
        replayHeight: '<%= replayHeight %>',
        replayTarget: '<%= replayTarget %>',
        prependReplayCreativeToTarget: <%= prependReplayCreativeToTarget %>,

        clickTracker: '<%= clickTracker %>',
        clickTrackerEsc: '<%= clickTrackerEsc %>',
        clickTag: '<%= clickTag %>',

        timeOpen: <%= timeOpen %>,
        auto: <%= auto %>,
        expDelay: <%= expDelay %>,
        adid: parseInt('%eaid!', 10) || false,
        impressionPixel: '<%= impressionPixel %>',

        addCloseButton: <%= addCloseButton %>,
        closeButtonText: '<%= closeButtonText %>',
        closeButtonCSS: <%= closeButtonCSS %>

      };

      <%= jsOverrides %>

      w.wpAd.customcover = new w.wpAd.CustomCover(config);
    });

  })(parent.jQuery, parent.window, parent.document);
</script>
